.sidebar{
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-bottom: 5px;

}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: gray;
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family:  roboto,arial;
    font-size: 10px;
}